body {
  font-family: system-ui, sans-serif;
  margin: 1rem;
}
section {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
button,
input {
  margin: 0.2rem;
}
input {
  width: 5rem;
}
.jump-demo-editor {
  display: flex;
  height: 350px;
}
